<link rel="stylesheet" type="text/css" href="assets/css/table.css">
<style type="text/css">
	.item{
		display: block;
		color: #555555;
		padding: 10px;
	}
	.item:hover{
		text-decoration: none;
	}
	.list-group-item{
		padding: 0px;
	}
	.list-group-item.active{
		background-color: #d8d8d8;
		border-color: #d8d8d8;
	}
	.list-group-item:hover,.list-group-item.active:hover{
		background-color: #c1c1c1;
		border-color: #c1c1c1;
	}
	.img-responsive{
		width: 100%;
	}
	.col-sm-12{
		padding: 0px;
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="row">
				<div class="col" align="center">
					<div class="profile-userpic">
						<img ng-src="assets/images/{{eventDetails.image}}" class="img-responsive" alt="">
					</div>
					<!-- END SIDEBAR USERPIC -->
					<!-- SIDEBAR USER TITLE -->
					<div class="profile-usertitle">
						<div class="profile-usertitle-name">
							<h1>{{eventDetails.name}}</h1>
						</div>
					</div>
				</div>
				<div class="col">
					<ul class="list-group" role="tablist">
						<li role="presentation" class="list-group-item">
							<a href="#dashboard" aria-controls="details" role="tab" data-toggle="tab" class="item">
								<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
								Dashboard
							</a>
						</li>
						<li role="presentation" class="list-group-item">
							<a href="#users" aria-controls="details" role="tab" data-toggle="tab" class="item">
								<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								Registerd Users
							</a>
						</li>
						<li role="presentation" class="list-group-item">
							<a href="#post" aria-controls="details" role="tab" data-toggle="tab" class="item">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
								Posts
							</a>
						</li>
						<li role="presentation" class="list-group-item">
							<a href="#like" aria-controls="details" role="tab" data-toggle="tab" class="item">
								<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
								User Likes
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="row tab-content">
				<div role="tabpanel" class="tab-pane col active" id="dashboard">
					<div class="panel panel-default">
						<div class="panel-heading" style="background-color: #c1c1c1;">
							<h2 class="panel-title">Dashboard</h2>
						</div>
						<div class="panel-body">
							<div class="col-md-4">
								<div class="well dash-box">
									<h4>Users Registerd</h4>
									<h2>
										<span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{eventDetails.users_registerd}}
									</h2>
								</div>
							</div>
							<div class="col-md-4">
								<div class="well dash-box">
									<h4>Image Uploaded</h4>
									<h2>
										<span class="glyphicon glyphicon-picture" aria-hidden="true"></span> {{eventDetails.images_uploaded}}
									</h2>
								</div>
							</div>
							<div class="col-md-4">
								<div class="well dash-box">
									<h4>Total Likes</h4>
									<h2>
										<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
										{{eventDetails.total_likes}}
									</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane col" id="users">
					<div class="panel panel-default">
						<div class="panel-heading" style="background-color: #c1c1c1;">
							<h2 class="panel-title">Users</h2>
						</div>
						<div class="panel-body nopadding">
							<table id="example" class="datatable table table-striped table-bordered" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>Name</th>
										<th>Contact Number</th>
										<th>Mail-id</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="user in eventDetails.users">
										<td data-label="Name">{{user.name}}</td>
										<td data-label="Contact Number">{{user.phone}}</td>
										<td data-label="Mail-id">{{user.mail_id}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane col" id="post">
					<div class="panel panel-default">
						<div class="panel-heading" style="background-color: #c1c1c1;">
							<h2 class="panel-title">Post</h2>
						</div>
						<div class="panel-body nopadding">
							<table id="example" class="datatable table table-striped table-bordered table-responsive" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>Image</th>
										<th>Theme</th>
										<th>Desc</th>
										<th>Uploaded By</th>
										<th>Date</th>
										<th>Likes</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="image in eventDetails.images">
										<td data-label="Image">
											<img ng-src="assets/images/{{image.image}}" style="width: 50%">
										</td>
										<td data-label="Theme">
											{{image.theme}}
										</td>
										<td data-label="Desc">
											{{image.desc}}
										</td>
										<td data-label="Uploaded By">
											{{image.upload_by}}
										</td>
										<td data-label="Date">
											{{image.uploaded_date}}
										</td>
										<td data-label="Likes">
											{{image.liked}}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane col" id="like">
					<div class="panel panel-default">
						<div class="panel-heading" style="background-color: #c1c1c1;">
							<h2 class="panel-title">User Likes</h2>
						</div>
						<div class="panel-body nopadding">
							<table id="example" class="datatable table table-striped table-bordered table-responsive" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>Image</th>
										<th>Name</th>
										<th>Like Time</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="user_like in eventDetails.user_likes">
										<td scope="row" data-label="Image">
											<img ng-src="assets/images/{{user_like.image}}" style="width: 15%">
										</td>
										<td data-label="Name">
											{{user_like.name}}
										</td>
										<td data-label="Like Time">
											{{user_like.like_time}}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>