<link href="assets/css/event.css" rel="stylesheet">
<div class="content">
	<div class="container nopadding">
		<div class="row nopadding">
			<div class="col-lg-12 col-sm-12 nopadding">
					<div class="fb-profile">
						<img align="left" class="fb-image-lg" src="assets/images/1000x400.png" alt="Profile image example"/>
					</div>
			</div>
			<div>
			<div class="col-lg-12 col-sm-12">
				<div class="segment well">
					<div class="row">
						<div class="col-sm-4">
							<h4><strong>Event Name</strong></h4>
							<h5>Host By:<strong>ASD</strong></h5>
						</div>
						<div class="col-sm-4">
							<h4>Start Date:<strong>10/Sep/18</strong></h4>
							<h4>End Date: <strong>9/Oct/18</strong></h4>							
						</div>
						<div class="col-sm-4">
							<h4>Status: <strong>Live</strong></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-sm-push-8">
				<div class="row">
					<div class="col-sm-12 event_details" style="padding: 40px;">
						<a class="btn btn-block btn-success">
							<strong>Participate</strong>
						</a>
						<br><br>
						<a ng-href="#!/gallery" class="btn btn-block btn-primary">
							<strong>Gallery</strong>
						</a>
						<br><br>
						<button class="btn btn-block btn-warning">
							<strong>Leader Board</strong>
						</button>
						<br><br>
						<div class="cont">
							Event ending date : <strong>09/OCT/2018</strong>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-8 col-sm-pull-4">
				<div class="event_details">
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#details" aria-controls="details" role="tab" data-toggle="tab">About Event</a>
						</li>
						<li role="presentation">
							<a href="#prizes" aria-controls="prizes" role="tab" data-toggle="tab">Prizes</a>
						</li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="details">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
						</div>
						<div role="tabpanel" class="tab-pane" id="prizes">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>