<link href="assets/css/table.css" rel="stylesheet">
<div class="row">
    <div class="col-xs-12">
        <h2 style="color:black"><b>{{event.name}}</b></h2>
        <p>
            <span><em>{{event.desc}}</em></span>
        </p>
    </div>
</div>
<table id="example" class="datatable table table-striped table-bordered table-responsive">
  <thead>
    <tr><th class="image_name">Image</th><th>Theme</th><th>Description</th><th>Uploaded By</th><th>Uploaded Time</th><th>Likes</th></tr>
  </thead>
  <tbody>
  </tbody>
</table>