<div class="content">
	<div class="container" style="padding: 5% 0% 0% 0% !important;">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="block-center mt-xl wd-xl">
					<div class="panel panel-dark panel-flat">
						<div class="panel-heading text-center" style="background-color:#1FA7D4 !important;height:90px">
							<h2 style="color:#fff">ArtEvent - Login</h2><br/><br/>
						</div>
						<div class="panel-body" style="background:#3d483f !important" align="center"><!--panel-body-->
							<div class="row">
								<div class="col-sm-12">
									<br/>
									<div class="row">
										<div class="col-sm-6">
											<a href="facebook_login">
												<button class="btn btn-large btn-facebook" style="background:#49659F;color:#fff">
													<i class="fa fa-facebook"></i> &nbsp;Facebook
												</button>
											</a>
										</div>
										<div class="col-sm-6">
											<a href="google_login" >
												<button class="btn btn-danger">
													<i class="fa fa-google-plus"></i>&nbsp;Google+&nbsp;&nbsp;
												</button>
											</a>
											<br/><br/>
										</div>
									</div>
								</div>
								<h5 style="color:#dde2de!important" text-align="center">
									<strong>OR</strong>
								</h5>
								<div class="row" text-align="center">
									<div class="col-sm-10 col-sm-offset-1">
										<div role="form" data-parsley-validate="" autocomplete="on" novalidate="" class="mb-lg">
											<div class="form-group has-feedback">
												<input id="emails" type="text" placeholder="Email" autocomplete="on" required class="form-control"  ng-model="umail">
												<span class="fa fa-envelope form-control-feedback text-muted" style="padding-top:10px"></span>
											</div>
											<div class="form-group has-feedback">
												<input id="password" type="password" placeholder="Password" required class="form-control" ng-model="upass">
												<span class="fa fa-lock form-control-feedback text-muted" style="padding-top:10px"></span>
											</div>
											<input type="submit" class="btn btn-block btn-primary mt-lg" id="login" 
										style="background-color:#1FA7D4" value="Login" ng-click="loginDetails()">
											<br />
											<br />
											<div class="clearfix">
												<a href="login_forgot_password.html" class="text-muted" style="color:#dde2de!important">
													Forgot your password?
												</a>
											</div>
											<h6 style="color:#dde2de!important">
												STILL NOT CONNECTED ? &nbsp;
												<a href="#!/register">
													<span style="color:red"><u>sign up</u></span>
												</a>
											</h6>
											<br />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
