.desktop-only{
	display: block;
}
.navbar-header{
	width: 25% !important;
}
.navbar-brand {
	padding: 0px;
	display: flex;
	align-items: center;
	width: 75% !important;
}
.navbar-brand>img {
	height: 50px;
	width: 65px;
	padding: 7px 14px;
}
.navbar-nav {
    margin: 0px !important;
}
.nopadding{
	padding: 0px !important;
	margin: 0px !important;
}
.navbar-center{
	width: 40% !important
}
.nav.nav-pills{
	border: 1px solid #bfbfbf;
	border-radius: 5px;
	box-shadow: 1px 0px 0px 1px rgba(34,36,38,.15);
}
.nav.nav-pills > li{
	border-right: 1px solid #d5d5d5ad;	
}
.nav-pills>li>a {
	color: #070707;
	border-radius: 0px;
}
.nav-pills>li.active>a {
	color: #070707 !important;
	background-color: #bcbcbc69 !important;
}
.wrapper{
	padding-top: 3.5% !important;
}
.single {
	padding: 30px 15px;
	background: #fcfcfc;
	border: 1px solid #f0f0f0;
}
.single h3.side-title {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	font-size: 20px;
	color: #333;
	text-transform: uppercase;
}
.single h3.side-title:after {
	content: '';
	width: 60px;
	height: 1px;
	background: #ff173c;
	display: block;
	margin-top: 6px;
}

.single ul {
	margin-bottom: 0;
}
.single li a {
	color: #666;
	font-size: 14px;
	text-transform: uppercase;
	border-bottom: 1px solid #f0f0f0;
	line-height: 40px;
	display: block;
	text-decoration: none;
}
.single li a:hover {
	color: #ff173c;
}
.single li:last-child a {
	border-bottom: 0;
}
.row.vdivide [class*='col-']:not(:last-child):after {
	background: #e0e0e0;
	width: 1px;
	content: "";
	display:block;
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	min-height: 70px;
}

@media (max-width: 767px) {
	.navbar-center{
		width: 100% !important
	}
	.navbar-header{
		width: 100% !important;
		margin: 0px !important;
	}
	.desktop-only{
		display: none;
	}
	#search_field{
		width: 100% !important;
		padding-top: 10px;
	}
	.wrapper{
		padding-top:30% !important;
	}
	.row.vdivide [class*='col-']:not(:last-child):after {
		content: none !important;
	}
}