.desktop-only{
	display: block;
}
.navbar-header{
	width: 25% !important;
}
.navbar-brand {
	padding: 0px;
	display: flex;
	align-items: center;
	width: 75% !important;
}
.navbar-brand>img {
	height: 50px;
	width: 65px;
	padding: 7px 14px;
}
.navbar-nav {
    margin: 0px !important;
}
.nopadding{
	padding: 0px !important;
	margin: 0px !important;
}
.navbar-center{
	width: 40% !important
}
.nav.nav-pills{
	border: 1px solid #bfbfbf;
	border-radius: 5px;
	box-shadow: 1px 0px 0px 1px rgba(34,36,38,.15);
}
.nav.nav-pills > li{
	border-right: 1px solid #d5d5d5ad;	
}
.nav-pills>li>a {
	color: #070707;
	border-radius: 0px;
}
.nav-pills>li.active>a {
	color: #070707 !important;
	background-color: #bcbcbc69 !important;
}
@media (max-width: 736px) {
	.navbar-center{
		width: 100% !important
	}
	.navbar-header{
		width: 100% !important;
	}
	.desktop-only{
		display: none;
	}
	#search_field{
		width: 100% !important;
		padding-top: 10px;
	}
}